body {
    width: 100%;
}

h3.handshake {
    margin: 0 0 -20px 0px;
}

#pangram {
    background-color: lightsalmon;
    width: 50% !important;
}

#pangram-input {
    width: 70%;
}

#pangram-results {
    display: none;
    background-color: peachpuff;
    width: 50% !important;
}

#description-div {
    height: 125px;
    background-color: tomato;
    width: 25%;
}

#planets {
    margin-top: inherit;
}

#planet-form {
    background-color: khaki;
}

#planet-results {
    display: none;
    background-color: lightgreen;
    height: auto;
}

#wordy {
    background-color: lavender;
    margin-left: 0px;
}

#wordy-button-div {
    display: none;
}

#planet-list {
    margin-top: 5px;
    margin-left: 130px;
}

#robot-name {
    background-color: lightblue;
    margin-left: 0px;
}

#handshake-div {
    display: flex;
}

#handshake-input-div {
    background-color: slateblue;
    height: 200px;
}

#handshake-explanation {
    background-color: skyblue;
    height: 200px;
    line-height: 0.7;
}

.handshake-info {
    padding-left: 5%;
}

.common-form {
    margin: inherit;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    width: 25%;
}