body {
    width: 100%;
}

#panagram {
    background-color: lightsalmon;
}

#planets {
    margin-top: inherit;
}

#planet-form {
    background-color: khaki;
}

#planet-results {
    background-color: lightgreen;
    height: auto;
}

#wordy {
    background-color: lavender;
}

#wordy-button-div {
    display: none;
}

#planet-list {
    margin-top: 5px;
    margin-left: 130px;
}

#robot-name {
    background-color: lightblue;
}

.common-form {
    margin: inherit;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    width: 25%;
}